<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Ecom App</title>
</head>
<body>
    {% extends "ProjectEcomApp/inicio.html" %}

    {% load static %}

    {% block content %}
        <div><p>
            <h2 style="color: black">{{servicio.titulo}}</h2>
            <p style="color: black">{{servicio.contenido}}</p>
            <img src="{{servicio.imagen.url}}">
        </p></div>
    {% endblock %}
</body>
</html>